.hover-cursor-hand:hover{
    cursor: hand;
    cursor: pointer;
}

.table-action{
    margin-right:3px;
}

textarea{
    resize: none;
}

#run{
    bottom:10px;
    right:25px;
    position: absolute;
}

#query{
    overflow-y: scroll;
    overflow-x: hidden;
}

#queryHistory{
    overflow-y: scroll;
    overflow-x: hidden;
    height:385px;
    background-color:#fbfbfb;
}


#queryResult{
    overflow-y: scroll;
    overflow-x: hidden;
    height:275px;
    margin-bottom:5px;
    background-color:#fbfbfb;
}

.history-item{
    width:95%;
    border-bottom:1px solid lightgray;
    margin: 0 auto 10px;
    padding:5px;
    font-size: 12px;
    white-space: pre;
}

#prologRulesJson{
    font-size: 12px;
    white-space: pre;
}
#prologFactsJson{
    font-size: 12px;
    white-space: pre;
}

.full-height{
    height:1000px;
}

.sudoku-cell{
    display:inline-block;
    height:50px;
    width:50px;
    line-height:50px;
    border:2px solid gray;
    margin-right:-2px;
    margin-bottom:-2px;
    background-color:rgba(0,0,0,0.05);
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    font-weight:bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.no-value{
    background-color:rgba(0,0,0,0.1);
}

.sudoku-cell:nth-child(3n){
    margin-right:-1px;
}

.sudoku-row:nth-child(3n){
    margin-bottom:-1px;
}